<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>Total Paid</th>
      <th>Payment Mode</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.total_paid %></td>
        <td><%= payment.payment_mode %></td>
        <td><%= payment.date %></td>
        <td><%= link_to 'Show', payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>