<p>
  <strong>Total Paid:</strong>
  <%= @payment.total_paid %>
</p>

<p>
  <strong>Payment Mode:</strong>
  <%= @payment.payment_mode %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<%= link_to 'Back', payments_path %>